.game {
  background-color: #063;
  color: white;
}
.hint {
  background-color: orange;
  font: 14pt sans-serif;
  padding: 1em;
}
  .hint:before {
    content: 'HINT: ';
  }

.player {
  border: 3px white solid;
  border-radius: 3px;
  display: inline-block;
  width: 250px;
  margin: 10px;
  padding: 10px;
}
.player.current {
  border: 3px white double;
  background-color: #093;
}

.player > .name {
  opacity: .6;
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.hand {
  margin: 5px;
}

.hand > .card {
  display: inline-block;
  background-color: white;
  color: black;
  width: 35px;
  margin: 5px;
  padding: 5px;
  height: 55px;
  border-radius: 2px;
}

.card.facedown {
  background-color: red;
  text-indent: -1000px;
}
